///*------------------------------------*\
//    #TYPE
//\*------------------------------------*/


p {
  margin-top: 0;
  margin-left: 0;
}

span {
  margin-left: 0;
}

hr {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 50px;

  border: 0;
  border-top: 2px solid $black;
}
