///*------------------------------------*\
//    #CAROUSEL
//\*------------------------------------*/

$carousel-indicators-color: rgba(0, 0, 0, 0.4);
$carousel-indicators-border-color: $white;
$carousel-indicators-active-color: $white;

$carousel-text-color: $white;





.carousel {
  position: relative;
  margin: auto;
  background: #d4d4d4;
}


.carousel__active {
  position: relative;
  z-index: 1;
  left: 0%;

  &.-left {
    left: -100%;
    animation: 2.6s carousel-activ-left ease-out;
  }
  &.-right {
    left: 100%;
    animation: 2.6s carousel-activ-right ease-out;
  }
}

@keyframes carousel-activ-left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes carousel-activ-right {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

.carousel__next {
  z-index: 1;
  left: 100%;

  &.-left {
    left: 0;
    animation: 2.6s carousel-next-left ease-out;
  }
}

@keyframes carousel-next-left {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.carousel__prev {
  z-index: 1;
  left: -100%;

  &.-right {
    left: 0;
    animation: 2.6s carousel-prev-right ease-out;
  }
}

@keyframes carousel-prev-right {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}


/**
 * .carousel__inner
 */

.carousel__inner {
  position: relative;
  width: inherit;
  height: inherit;
  overflow: hidden;

  & > * {
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
  }
}


/**
 * .carousel__indicators
 */

.carousel__indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;

  text-align: center;
  list-style: none;

  & > * {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;

    text-indent: -999px;
    cursor: pointer;
    background-color: $black;
    background-color: $carousel-indicators-color;
    border: 1px solid $carousel-indicators-border-color;
    border-radius: 10px;
  }
}

.carousel__active-indicator { background-color: $carousel-indicators-active-color; }


/**
 * .carousel__slides
 */

.carousel__slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--1 { background-image: url("./img/slide1.jpg"); }
  &--2 { background-image: url("./img/slide2.jpg"); }
  &--3 { background-image: url("./img/slide3.jpg"); }
 }


/**
 * .carousel__text
 */

 .carousel__text {
   position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -30px;
   margin-bottom: 0;

   font-size: 40px;
   text-transform: none;
   color: $carousel-text-color;

   transform: translate(-50%, -50%);

   @include media(sm) {font-size: 64px;}
   @include media(xl) {font-size: 96px;}
 }
