///*------------------------------------*\
//    #COUNTDOWN
//\*------------------------------------*/

$countdown-number-color: $gray-2;
$countdown-text-color: $green-5;





.countdown {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include media(sm){ flex-wrap: nowrap; }
}

.countdown__literal {
  display: inline-block;
  padding: 8px 10px;
  @include media(sm){ padding: 16px 20px; }
}

.countdown__number {
  margin: 0;
  padding: 0;

  font-weight: 100;
  line-height: 80px;
  font-size: 40px;
  @include media(sm){ font-size: 72px; }

  color: $countdown-number-color;
}


.countdown__text {
  margin: 0;
  padding-top: 12px;

  font-size: 18px;
  text-align: center;

  color: $countdown-text-color;
}
