///*------------------------------------*\
//    #PARALAX
//\*------------------------------------*/

.paralax {
  position: relative;
  height: 213px;

  background-image: url("./img/paralax.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
