///*------------------------------------*\
//    #PARALAX
//\*------------------------------------*/

.paralax {
  background-image: url("./img/paralax.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
