///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

$color-black: #000;
$color-white: #fff;

$color-white-1: #f8f6f5;

$color-gray-1: #313131;
$color-gray-2: #2a3c3a;
$color-gray-3: #486164;
$color-gray-4: #515661;

$color-yellow: #ffd700;

$color-green-1: #2e9f82;
$color-green-2: #438482;
$color-green-3: #68c170;
$color-green-4: #c8e665;
$color-green-5: #aed6d5;
