///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

$black: #000;
$white: #fff;

$white-1: #f8f6f5;

$gray-1: #313131;
$gray-2: #2a3c3a;
$gray-3: #486164;
$gray-4: #515661;

$yellow: #ffd700;

$green-1: #2e9f82;
$green-2: #438482;
$green-3: #68c170;
$green-4: #c8e665;
$green-5: #aed6d5;
