///*------------------------------------*\
//    #ATOMIC
//\*------------------------------------*/

/**
 * Generated classes
 */

#💎 .abs\(cen\){position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
#💎 .abs\(cenx\){position:absolute;left:50%;transform:translateX(-50%)}
#💎 .ai-cen{align-items:center;}
#💎 .as-cen{align-self:center;}
#💎 .ba\(0\){border:0px solid black}
#💎 .ba\(5\,white\){border:5px solid rgb(255,255,255)}
#💎 .ba\(fff\.3\){border:1px solid rgba(255,255,255,.3)}
#💎 .ba\(t\){border:1px solid transparent}
#💎 .bb\(2\,313131\){border-bottom:2px solid #313131}
#💎 .bg\(2e9f82\){background-color:#2e9f82;}
#💎 .bg\(313131\){background-color:#313131;}
#💎 .bg\(515661\){background-color:#515661;}
#💎 .bg\(68c170\){background-color:#68c170;}
#💎 .bg\(c8e665\){background-color:#c8e665;}
#💎 .bg\(f8f6f5\){background-color:#f8f6f5;}
#💎 .bg\(t\){background-color:transparent;}
#💎 .bg\(white\.3\){background-color:rgba(255,255,255,.3);}
#💎 .bo\(0\){outline:0px solid black}
#💎 .bt\(2\,438482\){border-top:2px solid #438482}
#💎 .bt\(2\,fff\){border-top:2px solid #fff}
#💎 .c\(313131\){color:#313131}
#💎 .c\(333\){color:#333}
#💎 .c\(438482\){color:#438482}
#💎 .c\(634a36\){color:#634a36}
#💎 .c\(846348\){color:#846348}
#💎 .c\(black\){color:rgb(0,0,0)}
#💎 .c\(c2c2c2\){color:#c2c2c2}
#💎 .c\(c9b19d\){color:#c9b19d}
#💎 .c\(e9e0d8\){color:#e9e0d8}
#💎 .c\(fff\){color:#fff}
#💎 .c\(fff\.3\){color:rgba(255,255,255,.3)}
#💎 .c\(t\){color:transparent}
#💎 .c\(white\){color:rgb(255,255,255)}
#💎 .c\(yellow\){color:rgb(255,215,0)}
#💎 .cur\(p\){cursor:pointer}
#💎 .db{display:block}
#💎 .dfc{display:flex;flex-direction:column;}
#💎 .dfw{display:flex;flex-wrap:wrap;}
#💎 .df{display:flex;}
#💎 .dn{display:none}
#💎 .f\:ba\(438482\):focus{border:1px solid #438482}
#💎 .fix{position:fixed}
#💎 .h\(100vh\){height:100vh}
#💎 .h\(213px\){height:213px}
#💎 .h\:c\(486164\):hover{color:#486164}
#💎 .h\:scale\(1\.1\):hover{transform: scale(1.1);}
#💎 .i{font-style: italic}
#💎 .jc-cen{justify-content:center;}
#💎 .jc-sb{justify-content:space-between;}
#💎 .l\(0\,0\,-\,0\){top:0;right:0;left:0;}
#💎 .mb\(0\){margin-bottom:0rem}
#💎 .mb\(25px\){margin-bottom:25px}
#💎 .mb\(30px\){margin-bottom:30px}
#💎 .mb\(35px\){margin-bottom:35px}
#💎 .ml\(a\){margin-left:auto}
#💎 .mr\(30px\){margin-right:30px}
#💎 .mr\(50px\){margin-right:50px}
#💎 .mt\(-32px\){margin-top:-32px}
#💎 .mt\(0\){margin-top:0rem}
#💎 .my\(0\){margin-top:0;margin-bottom:0;}
#💎 .my\(0\,20px\){margin-top:0;margin-bottom:20px;}
#💎 .my\(0\,30px\){margin-top:0;margin-bottom:30px;}
#💎 .my\(0\,32px\){margin-top:0;margin-bottom:32px;}
#💎 .my\(0\,35px\){margin-top:0;margin-bottom:35px;}
#💎 .my\(0\,40px\){margin-top:0;margin-bottom:40px;}
#💎 .pa\(16px\){padding:16px ;}
#💎 .pa\(16px\,0\){padding:16px 0;}
#💎 .pa\(20px\){padding:20px ;}
#💎 .pa\(32px\){padding:32px ;}
#💎 .pa\(80\,15px\){padding:80px 15px;}
#💎 .pa\(80\,25px\){padding:80px 25px;}
#💎 .pb\(35px\){padding-bottom:35px}
#💎 .pb\(50px\){padding-bottom:50px}
#💎 .pb\(55px\){padding-bottom:55px}
#💎 .pl\(8px\){padding-left:8px}
#💎 .pr\(10px\){padding-right:10px}
#💎 .pt\(100px\){padding-top:100px}
#💎 .pt\(16px\){padding-top:16px}
#💎 .pt\(5px\){padding-top:5px}
#💎 .px\(0\){padding-left:0;padding-right:0;}
#💎 .px\(16px\){padding-left:16px;padding-right:16px;}
#💎 .px\(30px\){padding-left:30px;padding-right:30px;}
#💎 .px\(35px\){padding-left:35px;padding-right:35px;}
#💎 .px\(5px\){padding-left:5px;padding-right:5px;}
#💎 .py\(0\,48px\){padding-top:0;padding-bottom:48px;}
#💎 .py\(100\,80px\){padding-top:100px;padding-bottom:80px;}
#💎 .py\(16px\){padding-top:16px;padding-bottom:16px;}
#💎 .py\(208\,72px\){padding-top:208px;padding-bottom:72px;}
#💎 .py\(20\,30px\){padding-top:20px;padding-bottom:30px;}
#💎 .py\(55\,40px\){padding-top:55px;padding-bottom:40px;}
#💎 .rel{position:relative}
#💎 .right\(16px\){right:16px}
#💎 .t\(14px\){font-size:14px;}
#💎 .t\(14px\,rzy\){font-size:14px;resize:vertical;}
#💎 .t\(14px\,up\){font-size:14px;text-transform:uppercase;}
#💎 .t\(14px\,w400\,ls5\){font-size:14px;font-weight:400;letter-spacing:5px;}
#💎 .t\(16px\,w300\,h1\.4\){font-size:16px;font-weight:300;line-height:1.4;}
#💎 .t\(18px\,w700\,ls10\,up\){font-size:18px;font-weight:700;letter-spacing:10px;text-transform:uppercase;}
#💎 .t\(20px\,w400\,cap\){font-size:20px;font-weight:400;text-transform:capitalize;}
#💎 .t\(22px\){font-size:22px;}
#💎 .t\(40px\,nup\){font-size:40px;text-transform: none;}
#💎 .t\(40px\,w100\){font-size:40px;font-weight:100;}
#💎 .t\(48px\){font-size:48px;}
#💎 .t\(64px\,w100\){font-size:64px;font-weight:100;}
#💎 .t\(cen\){text-align:center;}
#💎 .t\(cen\,14px\,h1\.8\){text-align:center;font-size:14px;line-height:1.8;}
#💎 .t\(cen\,18px\,h1\.1\,ls5\,up\){text-align:center;font-size:18px;line-height:1.1;letter-spacing:5px;text-transform:uppercase;}
#💎 .t\(cen\,18px\,w100\,h1\.6\){text-align:center;font-size:18px;font-weight:100;line-height:1.6;}
#💎 .t\(cen\,18px\,w700\,ls5\,up\){text-align:center;font-size:18px;font-weight:700;letter-spacing:5px;text-transform:uppercase;}
#💎 .t\(cen\,18px\,w700\,ls7\,up\){text-align:center;font-size:18px;font-weight:700;letter-spacing:7px;text-transform:uppercase;}
#💎 .t\(l\,12px\,w700\,up\){text-align:left;font-size:12px;font-weight:700;text-transform:uppercase;}
#💎 .t\(ls7\){letter-spacing:7px;}
#💎 .t\(r\,10px\,w400\,h1\.1\,ls4px\,up\){text-align:right;font-size:10px;font-weight:400;line-height:1.1;letter-spacing:4px;text-transform:uppercase;}
#💎 .t\(r\,12px\,w700\,up\){text-align:right;font-size:12px;font-weight:700;text-transform:uppercase;}
#💎 .t\(ui\){text-decoration:underline;text-decoration-skip:ink;}
#💎 .t\(up\){text-transform:uppercase;}
#💎 .tcen{text-align:center}
#💎 .top\(22px\){top:22px}
#💎 .top\(55px\){top:55px}
#💎 .ts\(0\,0\,20\,000\){text-shadow:0px 0px 20px #000}
#💎 .tt\(0\.5\){transition:0.5s}
#💎 .tt{transition:0.2s}
#💎 .w\(100\){width:100%}
#💎 .w\(50px\){width:50px}
#💎 .wmin\(145px\){min-width:145px}
#💎 .z\(10\){z-index:10}
@media screen and (min-width:0576px) {#💎 .fdr\@s{flex-direction:row;}}
@media screen and (min-width:0576px) {#💎 .mb\(0\)\@s{margin-bottom:0rem}}
@media screen and (min-width:0576px) {#💎 .pa\(100\,112px\)\@s{padding:100px 112px;}}
@media screen and (min-width:0576px) {#💎 .pb\(65px\)\@s{padding-bottom:65px}}
@media screen and (min-width:0576px) {#💎 .px\(100px\)\@s{padding-left:100px;padding-right:100px;}}
@media screen and (min-width:0576px) {#💎 .t\(64px\)\@s{font-size:64px;}}
@media screen and (min-width:0576px) {#💎 .w\(300px\)\@s{width:300px}}
@media screen and (min-width:0768px) {#💎 .dib\@m{display:inline-block;vertical-align:top}}
@media screen and (min-width:0768px) {#💎 .w\(25\)\@m{width:25%}}
@media screen and (min-width:0768px) {#💎 .wmin\(202px\)\@m{min-width:202px}}
@media screen and (min-width:0992px) {#💎 .mr\(140px\)\@l{margin-right:140px}}
@media screen and (min-width:0992px) {#💎 .w\(25\)\@l{width:25%}}
@media screen and (min-width:0992px) {#💎 .w\(50\)\@l{width:50%}}
@media screen and (min-width:0992px) {#💎 .w\(60\)\@l{width:60%}}
@media screen and (min-width:1200px) {#💎 .t\(96px\)\@el{font-size:96px;}}
